/* web font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --dark-color: #000000;
  --body-font-family: 'Poppins', sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
}

body, button, input, select, textarea {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
  line-height: 28px;
  font-size: 30px;
}

a, button, input {
  font-weight: 600;
}

section{
  padding: 100px ;
}

img{
  width: 100%;
  position: relative;
}


/* Banner */

.banner{
  position: relative;
  overflow: hidden;
}

.banner-text {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.banner-img {
  position: relative;
  padding-bottom: 52%;
}

.banner-img img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay {
  background: linear-gradient(to top, #000, transparent 90%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner .underline {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px;
  position: relative;
  font-size: 22px;
  font-weight: 500;
}
.banner .underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.banner .underline:hover:after { 
  width: 100%; 
  left: 0; 
}


/* NAVBAR */
.shadow-lg{
  box-shadow: 0 .1rem 1rem rgba(0,0,0,.175)!important;
}

.navbar {
  padding-top: 18px;
  padding-bottom: 18px;
  z-index: 9;
  background-color: white;
}

.navbar-brand {
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 500;
}

.navbar-nav .nav-link {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-item.active .nav-link::after {
  color: var(--dark-color);
  opacity: 1;
  transform: translateY(0px);
}

.navbar-nav .nav-item.active .nav-link,
.nav-link:focus, 
.nav-link:hover {
  color: var(--dark-color);
  background-color: rgb(248, 179, 13);
  border-radius: 5px;
  padding: 8px;
}

.nav-link:focus {
  color: var(--dark-color);
}

/* BIO */
.bio .container-img {
  order: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
}

.bio .container-img>* {
  position: absolute;
}

.bio .bg-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.bio .primary-img {
  width: 360px;
  height: 360px;
  display: flex;
  justify-content: center;
}

.bio .primary-img img {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.bio .container-text {
  order: 0;
  position: relative;
  height: 290px;
  display: flex;
  align-items: center;
}

.bio .container-text>* {
  position: absolute;
}

.bio .container-text img {
  top: 0;
  left: 50px;
  height: 70px;
}

.bio .text {
  left: 0;
  font-family: inherit;
  font-weight: 300;
  font-size: 25px;
  margin-right: -100px;
}

.bio .curve {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
}

.bio .personal-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
}

.bio #name {
  font-size: 18px;
  color: hsl(240, 38%, 20%);
  font-weight: 700;
  margin-right: 12px;
}

.bio #job {
  font-size: 18px;
  color: hsl(240, 18%, 77%);
}

/* QUOTE */
.quote .row>*{
  padding: 0px;
}
.quote .container{
  max-width: 70%;
}
.quote .main-bg{
  display: flex;
  background-color: #179ffe;
  box-shadow: 1px 37px 34px -13px rgba(0, 0, 0, 0.75);
  z-index:1;
}
.quote .img{
  width: 220px;
}

.quote .container-text{
  padding: 50px 40px;
}

.quote .container-text p{
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.quote .personal-info{
  display: flex;
  margin-top: 32px;
}

.quote .personal-info p{
  font-size: 18px;
  font-weight: 400;
}

.quote .personal-info #name{
  margin-right: 5px;
}

/* FAQ */

.faq .accordion{
  max-width: 60%;
}
.accordion-button{
  font-size: 20px;
}

/* FOOTER */
/* footer */
footer {
  background-color: #222;
}

footer h5 {
  color: #d8d8d8;
  font-weight: 700;
}

footer p {
  font-size: 18px;
}

footer li {
  padding-bottom: 4px;
  list-style: none;
}

footer li a {
  font-size: 0.8rem;
  color: #999;
  text-decoration: none;
}

footer li a:hover {
  color: #d8d8d8;
}

footer .footer .fab {
  color: #000;
  height: 40px;
  width: 40px;
  background-color: white;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0px 5px;
}

footer .footer .fab:hover {
  color: white;
  background-color: #fb774b;
  text-decoration: none;
}

footer p {
  color: white;
}

footer .copyright p {
  margin: 0px;
}



@media screen and (min-width: 992px) {
  .custom-video,
  .news-detail-image {
    object-fit: cover;
    height: 100vh;
  }

  .sticky-wrapper {
    position: relative;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  
  .container-img {
      order: 0;
  }

  .container-text {
      margin-top: 30px;
      height: 360px;
      justify-content: center;
      order: 1;
  }

  .text {
      text-align: center;
      margin: 0;
  }

  .container-text img {
      left: auto;
  }

  .personal-info {
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
  }

  #name {
      margin: 0;
  }

  #job {
      margin: 0;
  }
}